@font-face {
  font-family: "airport";
  src: url("../font/tfb.ttf");
}

.no-link{
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.no-link:hover{
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.fill{
    font-variation-settings: "FILL" 1;
}

.beta{
    background-color: #ff8800;
}

.blink {
    animation: blinker 10s linear infinite;
}

  @keyframes blinker {  
    50% { opacity: 0; }
   }
   .blink-one {
     animation: blinker-one 1s linear infinite;
   }
   @keyframes blinker-one {  
     0% { opacity: 0; }
   }
   .blink-two {
     animation: blinker-two 1.4s linear infinite;
   }
   @keyframes blinker-two {  
     100% { opacity: 0; }
   }


   .tiktok {
    content: url('https://api.iconify.design/logos/tiktok-icon.svg');
    width: 3vw;
    height: 3vw;  
  }

  .twitch {
    content: url('https://api.iconify.design/logos/twitch.svg');
    width: 3vw;
    height: 3vw;  
  }
  .youtube {
    content: url('https://api.iconify.design/logos/youtube-icon.svg');
    width: 3vw;
    height: 3vw;  
  }

  .areoport_font{
    font-family: "airport";
    font-size: 3.0vw;
  }